@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Raleway', sans-serif;
}

.leaflet-ctrl {
  font-family: 'Raleway', sans-serif;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.3/dist/images/marker-icon.png);
}